.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
#title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title {
  font-size: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  margin-top: 5rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  max-height: 20%;
}
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 10px;
  width: 100%;
}
@media (max-width: 900px) {
  #title {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.image {
  padding-top: 5rem;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
