body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  min-height: 95vh;
}
.main {
}

.card {
  width: 700px;
}
.left {
  float: left;
}
.left img {
  height: 200px;
  float: left;
  margin: 20px;
}
.right {
  float: right;
}
.right img {
  float: left;
  height: 200px;
  margin: 20px;
}
h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}
